## imports

In [27]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
import math
from itertools import combinations
from collections import defaultdict
%matplotlib inline

## data

In [21]:
data = pd.read_csv('export-sales-report-20250202.csv')
data.head()

,ResellerOrderId,ProductId,BuyerName,BuyerId,ProductName,UnitName,ResponsibleUserName,ProductSubCategoryName,ProductCategoryName,ProductTypeName,...,Vat,Price,SellType,CreateDate,PersianDate,PersianYear,PersianMonth,PersianMonthName,ColorId,SizeId
0,18941,5132,هتل طوبی,3603,سیب زمینی متوسط دست چین کیلویی,کیلو,سوگل تاجیک,پیاز و سیب زمینی,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,3800000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
1,18941,9268,هتل طوبی,3603,کدو سبز ( مسمایی ) دستچین کیلویی,کیلو,سوگل تاجیک,صیفی جات,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,1600000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
2,18941,12377,هتل طوبی,3603,پرتقال تامسون دستچین کیلویی,کیلو,سوگل تاجیک,میوه تازه,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,3600000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
3,18941,12384,هتل طوبی,3603,خیار گلخانه ای دستچین کیلویی,کیلو,سوگل تاجیک,صیفی جات,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,1200000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN
4,18941,12393,هتل طوبی,3603,قارچ دکمه ای سفید دستچین و تازه کیلویی,کیلو,سوگل تاجیک,قارچ,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,19500000.0,تره بار,2024-03-20 19:07:57.630,1403/01/01,1403,1,فروردین,NaN,NaN

In [22]:
type(data['PersianDate'][0])

str

In [23]:
import pandas as pd


data["PersianDate"] = data["PersianDate"].str.split("/").str[1] + data["PersianDate"].str.split("/").str[2]

data.head()

,ResellerOrderId,ProductId,BuyerName,BuyerId,ProductName,UnitName,ResponsibleUserName,ProductSubCategoryName,ProductCategoryName,ProductTypeName,...,Vat,Price,SellType,CreateDate,PersianDate,PersianYear,PersianMonth,PersianMonthName,ColorId,SizeId
0,18941,5132,هتل طوبی,3603,سیب زمینی متوسط دست چین کیلویی,کیلو,سوگل تاجیک,پیاز و سیب زمینی,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,3800000.0,تره بار,2024-03-20 19:07:57.630,0101,1403,1,فروردین,NaN,NaN
1,18941,9268,هتل طوبی,3603,کدو سبز ( مسمایی ) دستچین کیلویی,کیلو,سوگل تاجیک,صیفی جات,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,1600000.0,تره بار,2024-03-20 19:07:57.630,0101,1403,1,فروردین,NaN,NaN
2,18941,12377,هتل طوبی,3603,پرتقال تامسون دستچین کیلویی,کیلو,سوگل تاجیک,میوه تازه,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,3600000.0,تره بار,2024-03-20 19:07:57.630,0101,1403,1,فروردین,NaN,NaN
3,18941,12384,هتل طوبی,3603,خیار گلخانه ای دستچین کیلویی,کیلو,سوگل تاجیک,صیفی جات,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,1200000.0,تره بار,2024-03-20 19:07:57.630,0101,1403,1,فروردین,NaN,NaN
4,18941,12393,هتل طوبی,3603,قارچ دکمه ای سفید دستچین و تازه کیلویی,کیلو,سوگل تاجیک,قارچ,میوه، سبزیجات و صیفی جات,مواد غذایی,...,0,19500000.0,تره بار,2024-03-20 19:07:57.630,0101,1403,1,فروردین,NaN,NaN

### data procces

In [24]:
lst = data['PersianDate'].to_list()

In [25]:
for i in lst :
    date_str = i
    day_month = "".join(date_str.split("/")[1:])  # فقط ماه و روز را جدا کن

## grouping

In [ ]:
grouped = data.groupby(["PersianDate", "BuyerId"])["ProductId"].apply(list).reset_index()
grouped

     PersianDate  BuyerId                                          ProductId
0           0101     3603  [5132, 9268, 12377, 12384, 12393, 12395, 12401...
1           0101     5351  [16735, 16276, 16322, 17059, 17183, 17295, 135...
2           0102     5351                                            [14136]
3           0102     5375                              [16955, 16317, 12403]
4           0103       50  [10211, 12404, 12394, 12401, 12377, 11326, 111...
...          ...      ...                                                ...
3229        1114       50                               [13878, 5562, 10059]
3230        1114     1052  [14048, 14065, 12648, 15827, 5132, 9268, 9275,...
3231        1114     5210                       [18426, 13456, 16354, 13475]
3232        1114     5501  [18330, 18653, 19733, 10678, 17665, 16194, 12886]
3233        1114     5513                                            [13897]

[3234 rows x 3 columns]

## co-occurrence matrix

In [ ]:
co_occurrence = defaultdict(lambda: defaultdict(int))

for _, row in grouped.iterrows():
    items = row["ProductId"]
    for item1, item2 in combinations(items, 2):
        co_occurrence[item1][item2] += 1
        co_occurrence[item2][item1] += 1 

co_matrix = pd.DataFrame(co_occurrence).fillna(0)

In [31]:
print(co_matrix)

       5132   9268   12377  12384  12393  12395  12401  12408  16700  16708  \
9268   200.0   12.0   39.0  140.0  267.0   95.0  248.0  162.0    3.0    5.0
12377   39.0   39.0    4.0   40.0  100.0   29.0   80.0   36.0    1.0    6.0
12384  170.0  140.0   40.0    8.0  176.0   97.0  206.0  120.0    4.0   10.0
12393  306.0  267.0  100.0  176.0   16.0  243.0  487.0  213.0    5.0   12.0
12395  136.0   95.0   29.0   97.0  243.0   10.0  150.0   63.0    6.0   10.0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
19716    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19203    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19737    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19710    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19891    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

       ...  19387  21012  11     13991  19927  22056  22045  19845  19440  \
9268   ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12377  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12384  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
12393  ...    0.0    1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
12395  ...    0.0    1.0    1.0    0.0    0.0    0.0    0.0    0.0    1.0
...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
19716  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19203  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19737  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19710  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
19891  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

       22052
9268     1.0
12377    0.0
12384    1.0
12393    1.0
12395    0.0
...      ...
19716    0.0
19203    0.0
19737    0.0
19710    0.0
19891    0.0

[2884 rows x 2884 columns]

In [32]:
import numpy as np

def jaccard_similarity(matrix):
    items = matrix.columns
    jac_sim = pd.DataFrame(np.zeros((len(items), len(items))), index=items, columns=items)
    
    for i in items:
        for j in items:
            if i == j:
                jac_sim.loc[i, j] = 1.0
            else:
                intersection = matrix.loc[i, j]
                union = matrix.loc[i].sum() + matrix.loc[j].sum() - intersection
                jac_sim.loc[i, j] = intersection / union if union > 0 else 0
    
    return jac_sim

jaccard_matrix = jaccard_similarity(co_matrix)
print(jaccard_matrix)

KeyboardInterrupt: